<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.etaocnu.cloud.comment.mapper.CommentImageMapper">
  <resultMap id="BaseResultMap" type="cn.etaocnu.cloud.model.entity.CommentImage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="image_id" jdbcType="INTEGER" property="imageId" />
    <result column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
  </resultMap>
</mapper>